.section-title {
    text-align: center;
    margin-bottom: 35px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: 600;
  }
  .section-title p {
    font-size: 16px;
    font-weight: 400;
    color: #898888;
  }
  